.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #94cdd9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #b8e3ea;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #94cdd9;
  font-weight: 300;
  font-size: 16px;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #283c59;
  background-color: #94cdd9;
  text-align: center;
  width: 100%;
}

main {
  align-content: flex-start;
  width: 100%;
}
.search {
  background-color: #b8e3ea;
  text-align: center;
  border-radius: 16px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
}
.Criminal_Gender {
  border-radius: 30px;
  font-size: 24px;
  background-color: white;
  margin: 10px;
}
.crimeNumber {
  width: 100%;
}
.criminal_Race {
  border-radius: 30px;
  background-color: white;
  margin: auto;
}
.Criminal_Age {
  border-radius: 30px;
  margin-left: 30px;
  background-color: white;
}
.crimes {
  border-radius: 30px;

  background-color: white;
  margin: 10px;
}
@media only screen and (max-width: 580px) {
  .genderArr {
    width: 100%;
    height: auto;
    padding-top: 12px;
  }
  .genderstats {
    text-emphasis: center;
    width: 100%;
  }
  .crimearr {
    padding: 12px;
  }
}
@media only screen and (min-width: 600px) {
  .piechart1 {
    width: 70%;
  }
  .agechart {
    width: 65%;
  }
  .pieChart2 {
    width: 65%;
  }
  .genderData {
    width: 100%;
  }
  .Criminal_Gender {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 30px;
    width: 90%;
    background-color: #b8e3ea;
    margin: 10px;
    padding-bottom: 20px;
  }
  .outlayer_CG {
    font-size: 30px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    margin: auto;
  }
  h2 {
    font-size: 30px;
    color: #283c59;
    font-weight: 500;
  }
  .criminal_Race {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    border-radius: 30px;
    width: 90%;
    background-color: #b8e3ea;
    margin: auto;
    padding-bottom: 20px;
    font-size: 24px;
  }

  .Criminal_Age {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 30px;
    width: 90%;
    background-color: #b8e3ea;
    margin: 10px;
    padding-bottom: 20px;
    font-size: 24px;
  }
  .crimes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 30px;
    width: 90%;
    background-color: #b8e3ea;
    margin: 10px;
    padding-bottom: 20px;
    font-size: 24px;
  }
  .genderArr {
    width: 75%;
    height: 50%;
  }
  .genderstats {
    height: 60%;
    width: 70%;
  }

  .crimearr {
    display: flex;

    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    justify-content: space-evenly;
  }
  .crimearray {
    height: 30%;
    margin-left: 60px;
  }
  .crimeList {
    list-style: none;
    column-count: 2;
  }
  .outterLayerCrime {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .genderInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .raceArr {
    width: 95%;
  }

  .names {
    width: 50%;
  }
  .raceList {
    list-style: none;
    column-count: 2;
  }

  .listOfPrecinct {
    background-color: #b8e3ea;
    text-align: center;
    border-radius: 16px;
    font-size: large;
  }
  .symbols {
    display: flex;
    font-size: 50px;
    flex-direction: column;
    list-style: none;
  }
}
.man {
  color: blue;
}
.women {
  color: palevioletred;
}

.black {
  color: #f66d64;
}

.white {
  color: #feae85;
}

.asian {
  color: #e6f89d;
}
.hispanic {
  color: #aadeb7;
}
.native_american {
  color: #64c2b6;
}
.other {
  color: #2d87db;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
}
.symbols {
  padding: 0;
}

input {
  border-radius: 8px;
  width: 30em;
  height: 2em;
}

nav {
  text-align: center;
  padding: 10px;
}
