.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #b8e3ea;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */

.App-link {
  color: #b8e3ea;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  background-color: #94cdd9;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #283c59;
  background-color: #b8e3ea;
  text-align: center;
  width: 100%;
  padding-bottom: 25px;
}

main {
  align-content: flex-start;
}
.search {
  background-color: #b8e3ea;
  text-align: center;
  width: 75%;
}
.Criminal_Gender {
  border-radius: 30px;

  background-color: white;
  margin: 10px;
}
.criminal_Race {
  border-radius: 30px;

  background-color: white;
}
.Criminal_Age {
  border-radius: 30px;

  background-color: white;
  margin: 10px;
}
.crimes {
  border-radius: 30px;

  background-color: white;
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  .piechart1 {
    width: 65%;
  }
  .agechart {
    width: 65%;
  }
  .pieChart2 {
    width: 65%;
  }
  .genderData {
    width: 65%;
  }
  .Criminal_Gender {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 30px;
    width: 90%;
    background-color: rgb(216, 216, 216);
    margin: 10px;
    padding-bottom: 20px;
  }
  .criminal_Race {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 30px;
    width: 90%;
    background-color: rgb(216, 216, 216);
    margin: 10px;
    padding-bottom: 20px;
  }
  .Criminal_Age {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 30px;
    width: 90%;
    background-color: rgb(216, 216, 216);
    margin: 10px;
    padding-bottom: 20px;
  }
  .crimes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-radius: 30px;
    width: 90%;
    background-color: rgb(216, 216, 216);
    margin: 10px;
    padding-bottom: 20px;
  }
}
